:root{
    --primary-color: hsl(214, 84%, 56%);
    --text-color:hsl(0, 0%, 31%);
    --bg-color: hsl(0, 5%, 76%);
    --bg-card-color: hsl(0, 0%, 98%);
    --border-radius:0.4em; 
    --transition:color 0.1s, background-color 0.3s ease-in-out;
}

* { 
    box-sizing: border-box;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
    
}
body{
    
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    transition: var(--transition);
    font-family: sans-serif;
}

body.dark{
   
    --text-color:hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 25%);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color:var(--bg-card-color);
    transition: var(--transition);
}
   
.switches{
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.toggle-theme{
   display:flex;
   align-items: center;     
    justify-content: center;
    cursor: pointer ;
    width: 20px ;

}
.toggle-theme__icon{
    margin-right: 0.5em;
    width: 20px;
   
   
}
.toggle-theme__text{
    font-size: 0.8rem;

}
.colors{
    display: flex;
    align-items: center; 
    justify-content: space-between;
  height: 20px;
  width: 100px  ;
}
.colors__item{
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
    margin-left: 10px;
   
}
.colors__item--blue{
   --primary-color: hsl(214, 84%, 56%);
}
.colors__item--green{
    --primary-color: hsl(150, 84%, 56%);
}
.colors__item--purple{
   --primary-color: hsl(276, 84%, 56%);
}
.colors__item--orange{
    --primary-color: hsl(46, 84%, 56%);
}

.title{
    text-align: center;
   color :var(--primary-color);
   transition: var(--transition);
}

.main{
    display: grid;
    padding: 2em;
    gap: 0.5em;
}

@media screen and (min-width: 720px){
    .main{
        grid-template-columns: min-content 1fr ;
        
    }
    
}

.column{
    display: flex;
    gap: 2em;
}


@media screen and (min-width: 720px){
    .column--right{
        grid-template-columns: repeat(3,1fr) ;
        gap: 0.5em;
        display: grid;
        grid-template-rows: auto;
    }
}
.card{
    padding:0.5em;
    background-color: var(--bg-card-color); 
    border-radius: var(--border-radius);
    
}

.card__image-container{
    min-width: 320px;
    border: var(--border-radius);
    overflow: hidden;
}

.card__header{
    padding: 1em 0;
    
}
.card__title{
    margin: 0;
   font-size: 1.2rem;
   padding: 1em 0 0.5em 0;

}
.card__subtitle{
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;
    padding: 1em 0;
}
.card__link{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}
.icon{
    padding: 0.6em;
}

.card__text{
    font-size: 0.9rem;
    line-height: 1.7;
}

@media screen and (min-width: 760px){
    .card--profile{
        grid-column: 1 / 2;
        grid-row: span 2;    
    
}
.card--project{
    display: grid;
    grid-template-columns: min-content 1fr ;
    grid-column: 1 / -1;
}}

.skills-section {
  background-color: #f5f5f5;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 720px){    
.skills-section {
    padding: 2em;
}}

.skills-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}

.skill {
  margin: 20px 0;
}

.skill__bar {
  background: #ddd;
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 8px;
}

.fill {
  background: linear-gradient(90deg, #0078D7, #00BFFF);
  height: 100%;
  transition: width 1.5s ease;
}

@media screen and (min-width: 720px){
    
.project{
    margin-left: 2em;
    

}}


.project__tags{
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    font-size: 1em;
    width: 275px;
}

@media screen and (min-width: 720px){
    .project__tags{
        width: 352px;
        font-size: 0.8rem;

    }}

.project__tag{
    background-color: var(--primary-color);
    padding: 0.4em 3em;
    border-radius: var(--border-radius);    
    color: var(--bg-color);
    
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 500px;
    gap: 1em;
}

.button{
    width: 100px;
    line-height:2.5;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
    

}
.button--primary{
    background-color: var(--primary-color);
     color: var(--bg-color);

    
}

.button--ghost{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
    
.footer__text{
    background-color: var(--bg-card-color);
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    transition: var(--transition);
}

.footer__text1{
    background-color: var(--bg-card-color);
    text-align: center;
    padding: 1em;
    margin-top: -1em;
    font-size: 0.8rem;
    transition: var(--transition);
}

